<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="testDao" class="com.om.dao.DaoTestImpl">
		<property name="abstarctDao" ref="abstarctDao"/>
	</bean>
	<bean id="testService" class="com.om.service.TestServiceImpl">
			<property name="testDao" ref="testDao"/>
	</bean>
	
	<bean name="testStrutsAction" class="com.om.action.TestAction">
			<property name="testService" ref="testService"></property>
	</bean>
	<bean name="pageAction" class="com.om.action.PageAction">
			<property name="testService" ref="testService"></property>
	</bean>
	
	
</beans>